
#container{
    padding-bottom: 125px;
}

.row {
    position: center;
}
.jumbotron {
    padding-left: 30%;
    text-align: center;
    height: 250px;
}

footer {
    background-color: lightgrey;
    

}

.col-2{
    float: right;
}

.display-4{
    height: 250px;
}